.modal__cart {
  width: 48rem;
  height: 100%;
  position: fixed;
  z-index: 1000;
  bottom: 0;
  right: -100%;
  padding: 1rem;
  cursor: pointer;
  backdrop-filter: blur(35px);
}
.openCart {
  right: 0;
}
//xl size
@media screen and (max-width: 1280px) {
}

//lg size
@media screen and (max-width: 1024px) {
}

//md size
@media screen and (max-width: 768px) {
  .modal__cart {
    width: 100%;
  }
}

//sm size
@media screen and (max-width: 640px) {
}

//xs size
@media screen and (max-width: 350px) {
}
