.modal__cart {
    display: block;
    width: 50%;
    height: 100%;
    position: fixed;
    z-index: 100;
    bottom: 0;
    right: 0;
    padding: 1rem;
    cursor: pointer;
    backdrop-filter: blur(35px);
}
//xl size
@media screen and (max-width: 1280px) {
}

//lg size
@media screen and (max-width: 1024px) {
}

//md size
@media screen and (max-width: 768px) {
}

//sm size
@media screen and (max-width: 640px) {
}

//xs size
@media screen and (max-width: 350px) {
}
