.Categories {
  width: 100%;
}
.Categories__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 2.5rem 0;
}
.Categories__container {
}

.Categories__header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  h1 {
    font-size: 3rem;
    font-weight: 700;
  }
}
.Categories__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
  margin: 2rem 0;
  padding: 3rem;
}

//xl size
@media screen and (max-width: 1280px) {
}

//lg size
@media screen and (max-width: 1024px) {
  .Categories__grid {
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem;
  }
}

//md size
@media screen and (max-width: 768px) {
  .Categories__grid {
  }
}

//sm size
@media screen and (max-width: 640px) {
  .Categories__grid {
    grid-template-columns: 1fr;
    padding: 1.5rem;
  }
  .Categories__container {
    margin: 0;
  }
}

//xs size
@media screen and (max-width: 350px) {
}
