.Products {
  width: 100%;
}
.Products__container {
  margin: 3rem 7rem;
  //padding: 0rem 4rem;
}

.Products__content {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
}
.Products__product {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  column-gap: 3rem;
}
.Product__title {
}
.Product__images {
  display: flex;
  flex-direction: column;
}
.image__title {
  display: none;
}
.main__image {
  display: flex;
  justify-content: center;
  width: 100%;
}
.main__image img {
  align-self: center;
  width: 60%;
}
.carousel__images {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.carousel__images img {
  width: 20%;
}
.Product__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 3rem;
  background-color: rgb(232, 232, 232);
  padding: 2.5rem 4rem;
  border-radius: 15px;
}
.info__description {
  text-align: left;
}
.info__quantity {
  display: flex;
  gap: 4rem;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  p {
    font-size: 1.5rem;
    font-weight: 700;
  }
}

.quantity__buttons {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: space-between;
  border: 1px solid black;
  border-radius: 5px;
  width: 100%;
  p {
  }
  button {
    padding: 0.5rem;
    background: transparent;
    font-size: 1.5rem;
    border: none;
  }
}
.info__buttons {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  width: 100%;

  button {
    padding: 0.5rem;
    border-radius: 15px;
    background: transparent;
    font-size: 1rem;
    border: 1px solid #333;
    width: 100%;
  }
}
.product__specs {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 4rem;
}
.specs__details {
  border-radius: 15px;
  background-color: rgb(232, 232, 232);
  padding: 1rem;
  width: 100%;
}
//xl size
@media screen and (max-width: 1280px) {
}

//lg size
@media screen and (max-width: 1024px) {
}

//md+ size
@media screen and (max-width: 840px) {
  .Products__content {
    grid-template-columns: 1fr;
  }
  .images__title {
    display: block;
  }
  .info__title {
    display: none;
  }
}
//md size
@media screen and (max-width: 768px) {
}

//sm size
@media screen and (max-width: 640px) {
}

//xs size
@media screen and (max-width: 350px) {
}
