.Products {
  width: 100%;
}
.Products__container {
  margin: 3rem;
}

.Products__content {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
.Products__product {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: flex-start;
  column-gap: 4rem;
}

.Product__images {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
}
.image__title {
  display: none;
}
.main__image {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: rgb(232, 232, 232);
  padding: 3rem;
  border-radius: 15px;
  position: relative;
}
.image-full {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2.5rem;
  cursor: pointer;
}
.main__image img {
  align-self: center;
  width: 60%;
}
.carousel__images {
  display: flex;
  gap: 4rem;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.carousel__images img {
  width: 25%;
  background-color: rgb(232, 232, 232);
  padding: 2rem;
  border-radius: 15px;
}
.Product__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  gap: 2.5rem;
}
.info__category {
  font-size: 1rem;
  font-weight: 400;
  color: #242424;
}
.info__description {
  text-align: left;
}
.info__quantity {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
  p {
    font-size: 1.5rem;
    font-weight: 700;
  }
}
.quantity__buttons {
  display: flex;
  gap: 1rem;
  align-items: center;
  border-radius: 5px;
  p {
    font-size: 1.5rem;
  }
  button {
    padding: 0.5rem 1rem;
    background: transparent;
    font-size: 2rem;
    border: 2px solid #242424;
    border-radius: 15px;
    cursor: pointer;
  }
}
.info__buttons {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  column-gap: 0.5rem;
  padding: 0.7rem;
  border-radius: 15px;
  background: transparent;
  font-size: 1.3rem;
  border: 2px solid #242424;
  font-weight: 600;
  cursor: pointer;
  color: #242424;

  svg {
    font-weight: 600;
  }
  &:hover,
  &:focus {
    background-color: #242424;
    color: #fff;
    transition: all 0.2s ease;
  }
}

.info__payment {
  width: 100%;
  border-radius: 15px;
  legend {
    font-size: 1rem;
    font-weight: 700;
  }
  ul {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
  }
  li {
    font-size: 3rem;
  }
}

.product__specs {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 4rem;
}
.specs__details {
  border-radius: 15px;
  background-color: rgb(232, 232, 232);
  padding: 1rem;
  width: 100%;
}
//xl size
@media screen and (max-width: 1280px) {
  .info__payment {
    ul {
      gap: 2rem;
    }
    li {
      font-size: 2rem;
    }
  }
}

//lg size
@media screen and (max-width: 1024px) {
  .Products__product {
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    row-gap: 4rem;
  }
  .Products__container {
    margin: 1.5rem;
  }
  .Product__info {
    row-gap:2rem ;
  }
}

//md+ size
@media screen and (max-width: 840px) {
}
//md size
@media screen and (max-width: 768px) {
}

//sm+ size
@media screen and (max-width: 600px) {
  .info__quantity {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  .carousel__images {
    gap: 0rem;
  }
  .product__specs {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
}
//sm size
@media screen and (max-width: 640px) {
}

//xs size
@media screen and (max-width: 450px) {
  .carousel__images img {
    padding: 1rem;
  }

}
