.Hero {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#ece6ea, #ffffff);
  margin-bottom: 5rem;
}
.Hero__container {
  padding: 0 3rem;
}
.Hero__content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 2rem;
  margin-top: 3rem;
}
.content__text {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 3rem;
  h1 {
    font-size: 4rem;
    font-weight: 700;
    svg {
      padding-top: 15px;
    }
  }
  h2 {
    font-size: 2rem;
    font-weight: 300;
  }
}

.content__img {
  display: flex;
  align-items: center;
  img {
    width: 32rem;
    height: 25rem;
  }
}
.shop__button {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}
.button-shop {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.7rem;
  border: 3px solid #242424;
  padding: 0.7rem;
  font-size: 1.7rem;
  border-radius: 20px;
  font-weight: 600;

  &:hover,
  &:focus {
    background-color: #242424;
    transition: all 0.2s ease;
    color: #fff;
  }
}
//xl size
@media screen and (max-width: 1280px) {
  .content__text {
    h1 {
      font-size: 3rem;
    }
    h2 {
      font-size: 1.5rem;
    }
  }
  .button-shop {
    border: 3px solid #242424;
    padding: 0.5rem;
    font-size: 1.5rem;
    border-radius: 20px;

    &:hover,
    &:focus {
      background-color: #242424;
      transition: all 0.2s ease;
      color: #fff;
    }
  }
}

//lg size
@media screen and (max-width: 1024px) {
  .content__img {
    display: none;
  }
}

//md size
@media screen and (max-width: 768px) {
  .content__text {
    button {
      font-size: 1.5rem;
    }
  }
}

@media screen and (max-width: 576px) {
}

//sm size
@media screen and (max-width: 640px) {
  .content__text {
    h1 {
      font-size: 3rem;
      font-weight: 700;
    }
    h2 {
      font-size: 1.5rem;
      font-weight: 200;
    }
    button {
      font-size: 1rem;
    }
  }
}

//xs size
@media screen and (max-width: 450px) {
  .Hero__container {
    padding: 0 1rem;
  }
  .content__text {
    h1 {
      font-size: 2rem;
      font-weight: 700;
    }
    h2 {
      font-size: 1rem;
      font-weight: 200;
    }
  }
  .button-shop {
    font-size: 1rem;
  }
}
