.Newsletter {
  width: 100%;
  margin-top: 7rem;
  background-color: rgb(233, 233, 233);
}
.Newsletter__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  padding: 4rem 2rem;
  h1 {
    font-size: 3rem;
  }
  p {
    font-size: 1.5rem;
  }
}
.Newsletter__field {
  display: flex;
}
.Newsletter__field input {
  width: 30rem;
  padding: 0.5rem;
  outline: none;
  border: 2px solid #333;
  border-radius: 15px 0px 0px 15px;
}
.Newsletter__field button {
  padding: 0.5rem;
  background-color: transparent;
  border: 2px solid #333;
  border-left: none;
  font-size: 1rem;
  border-radius: 0px 15px 15px 0px;
}

//xl size
@media screen and (max-width: 1280px) {
}

//lg size
@media screen and (max-width: 1024px) {
}

//md size
@media screen and (max-width: 768px) {
}

//sm size
@media screen and (max-width: 640px) {
  .Newsletter {
    margin-top: 2rem;
  }
  .Newsletter__content {
    gap: 1rem;
    padding: 4rem 2rem;
    h1 {
      font-size: 3rem;
    }
    p {
      font-size: 1.5rem;
      text-align: center;
    }
  }

  .Newsletter__field input {
    width: 30rem;
    padding: 0.5rem;
    width: 20rem;
  }
  .Newsletter__field button {
    padding: 0.5rem;
    font-size: 1rem;
  }
}

//xs+ size
@media screen and (max-width: 415px) {
  .Newsletter__content {
    gap: 1rem;
    padding: 3rem 0.5rem;
    h1 {
      font-size: 2rem;
    }
    p {
      font-size: 1rem;
      text-align: center;
    }
  }

  .Newsletter__field input {
    width: 15rem;
  }
  .Newsletter__field button {
    padding: 0.5rem;
    font-size: 1rem;
  }
}

//xs size
@media screen and (max-width: 350px) {

  .Newsletter__field {
    flex-direction: column; 
    gap: 0.3rem;
    input {
      border-radius: 15px;
    }
    button {
      border-radius: 15px;
      border-left: solid;
    }
  }
}
