.burger {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  transition: all 0.2s ease;
}
.burger__title {
  font-size: 3rem;
  font-weight: 800;
}
.burger__list {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
}
.burger__socials {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
  font-size: 2rem;
}
.close__burger {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  font-size: 2rem;
  cursor: pointer;
}
.closed {
  display: none;
  color: #333;
}