.modal__cart-content {
  width: 100%;
  height: 100%;
  padding: 0.6rem 1.5rem 1.5rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cart__top {
  display: flex;
  flex-direction: column;
  row-gap: 1.7rem;
}
.cart__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cart__body {
  height: 100vh;
}
.full-cart__container {
  overflow-y: scroll;
  height: 67%;

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #f5f5f5;
  }
  &::-webkit-scrollbar {
    width: 12px;
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #555;
  }
}
.full__cart {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  height: 100%;
}
.empty-cart {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: 700;
}
.cart__item {
  display: grid;
  grid-template-columns: 0.33fr 0.33fr 0.33fr;
  column-gap: 1.5rem;
  border: 2px solid #333;
  border-radius: 15px;
  padding: 1rem;
  margin-right: 0.5rem;
}
.cart__img {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.cart__img img {
  width: 100%;
}
.cart__details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  align-items: flex-start;
  row-gap: 0.5rem;
}
.details__name {
  font-size: 1.5rem;
  font-weight: 700;
}
.details__quantity {
}
.quantity__buttons-cart {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  width: 100%;
  p {
    font-size: 1rem;
  }
  button {
    padding: 0.25rem 0.5rem;
    background: transparent;
    font-size: 1rem;
    border: 2px solid #242424;
    border-radius: 15px;
  }
}
.cart__price {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  padding: 1rem;
  p {
    font-size: 1.5rem;
    font-weight: 700;
  }
}
.cart__bottom {
}
.subtotal__cart {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  padding-top: 0.5rem;
  align-items: flex-end;
  border-top: 2px dashed #333;
}
.subtotal__left p {
  font-size: 1.5rem;
  font-weight: 700;
}
.subtotal__right button {
  padding: 0.5rem;
  font-size: 1rem;
  background-color: transparent;
  border: 2px solid #333;
  border-radius: 15px;
}

//xl size
@media screen and (max-width: 1280px) {
}

//lg size
@media screen and (max-width: 1024px) {
}

//md size
@media screen and (max-width: 768px) {
  .cart__item {
    grid-template-columns: 1fr;
    grid-template-rows:1fr;
  }
}

//sm size
@media screen and (max-width: 640px) {
  .cart__item {
    grid-template-columns: 1fr;
  }
  .cart__details {
    align-items: center;
    row-gap: 0.5rem;
  }
  .cart__price {
    flex-direction: row;
  }
}

//xs size
@media screen and (max-width: 350px) {
}
