.Navbar {
  width: 100%;
  position: fixed;
  background: transparent;
  transition: all 0.2s ease;
  z-index: 100;
}
.fixedNav {
  position: fixed;
  background-color: #fff;
}

//navbar popups
.burger__menu {
  display: none;
}
.search-mobile {
  display: none;
  z-index: 1000;
}

.favorite {
  display: none;
}

.Navbar__container {
  padding: 0 2rem;
}
.container__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  gap: 2rem;
}
.content__logo {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  img {
    width: 3rem;
  }

  h1 {
    text-shadow: 10px 10px 5px #242424;
    font-size: 2rem;
    font-weight: 700;
  }
}

.content__search {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.search__input {
  width: 100%;
  padding: 0.5rem;
  text-indent: 0.5rem;
  border-radius: 20px;
  border: 2px solid #656565;
  background-color: transparent;
  font-size: 1rem;
  font-family: "Nunito Sans", sans-serif;
  outline: none;
  &::placeholder {
    font-family: "Nunito Sans", sans-serif;
    color: #242424;
  }

  &:focus {
    border: 2px solid #000;
  }
}
.search__input::-webkit-search-cancel-button {
  cursor: pointer;
  height: 15px;
  width: 15px;
  position: absolute;
  right: 3rem;
  border-radius: 50%;
  -webkit-appearance: none;
  background: linear-gradient(
      45deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 43%,
      #000 45%,
      #000 55%,
      rgba(0, 0, 0, 0) 57%,
      rgba(0, 0, 0, 0) 100%
    ),
    linear-gradient(
      135deg,
      transparent 0%,
      transparent 43%,
      #000 45%,
      #000 55%,
      transparent 57%,
      transparent 100%
    );
}

.search__icon {
  margin-left: 1rem;
  position: absolute;
  top: 0.5rem;
  right: 0.7rem;
  color: #242424;
  width: 1.5rem;
  height: 1.5rem;
}
.search__results {
  height: 10rem;
  overflow-y: scroll;
  width: 100%;
  position: absolute;
  top: 2.6rem;
  border-top: none;
  border: 2px solid #000;
  background-color: #fff;
  border-radius: 20px;

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #f5f5f5;
  }
  &::-webkit-scrollbar {
    // width: 0.5rem;
    // background-color: transparent;
    display: none;
  }
  &::-webkit-scrollbar-thumb {
    padding-right: 1rem;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #242424;
  }
}

.results {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  li {
    font-weight: 700;
  }
}

.content__nav {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
}
.nav__links {
  display: flex;
  gap: 2rem;
  list-style: none;

  a {
    text-decoration: none;
    font-weight: 600;
  }
  a:hover {
    color: #000;
    transition: all 0.2s ease;
  }
}
.nav__search-icon {
  display: none;
}

.nav__favorite {
  a {
    color: #242424;
  }
  a:hover {
    color: #000;
    transition: all 0.2s ease;
  }
}
.favorite__link {
  display: flex;
  align-items: center;
}
.nav__cart {
  display: flex;
  align-items: center;
  position: relative;
  svg {
    color: #242424;
  }
  svg:hover {
    color: #000;
    transition: all 0.2s ease;
  }
}
.quantity {
  position: absolute;
  top: -15px;
  right: -20px;
  font-size: 15px;
  color: #fff;
  padding: 1px 7px;
  border-radius: 60%;
  background-color: #242424;
}
.link__cart {
  cursor: pointer;
  position: relative;
}
.nav__burger {
  display: none;
  color: #242424;
}

.open {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 3000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(15px);
}

//xl size
@media screen and (max-width: 1280px) {
}

//lg size
@media screen and (max-width: 1024px) {
}

//md+ size
@media screen and (max-width: 850px) {
  .nav__links {
    display: none;
  }
  .nav__burger {
    display: flex;
    align-items: center;
  }
  .link__cart {
    display: flex;
  }
}

//sm size
@media screen and (max-width: 640px) {
  .content__logo {
    img {
      width: 2rem;
    }

    h1 {
      font-size: 1.5rem;
      font-weight: 700;
    }
  }
  .content__search {
    display: none;
  }
  .nav__search-icon {
    display: flex;
    align-items: center;
  }
  .Navbar__container {
    padding: 0 0.5rem;
  }
}

//xs size
@media screen and (max-width: 350px) {
  .content__logo {
    img {
      width: 2rem;
    }

    h1 {
      display: none;
    }
  }
}
