.Navbar {
  width: 100%;
  z-index: 100;
  position: fixed;
}
// .fixedNav {
//   z-index: 100;
//   position: fixed;
//   background-color: #fff;
// }

//navbar popups
.burger__menu {
  display: none;
}
.search-mobile {
  display: none;
}

.favorite {
  display: none;
}

.Navbar__container {
  padding: 0 2rem;
  backdrop-filter: blur(15px);
}
.container__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  gap: 2rem;
}
.Logo {
  color: #333;
}
.content__logo {
  display: flex;
  gap: 0.5rem;
  align-items: center;

  img {
    width: 3rem;
  }

  h1 {
    font-size: 2rem;
    font-weight: 700;
    //font-variant: small-caps;
  }
}

.content__search {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.search__input {
  width: 100%;
  padding: 0.5rem;
  border-radius: 15px;
  border: 2px solid #969696;
  background-color: transparent;
  font-size: 1rem;
  outline: none;
  &:focus {
    border: 2px solid #333;
  }
}
.search__results {
  height: 10rem;
  overflow-y: scroll;
  width: 100%;
  position: absolute;
  top: 2.6rem;
  border-top: none;
  border: 1px solid black;
  //backdrop-filter: blur(15px);
  border-radius: 15px;
  &::-webkit-scrollbar {
    display: none;
  }
}

.results {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  li {
    font-weight: 700;
  }
}

.content__nav {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
}
.nav__links {
  display: flex;
  gap: 2rem;
  list-style: none;

  .Link {
    text-decoration: none;
    color: #333;
  }
}
.nav__search-icon {
  display: none;
}

.nav__favorite {
}
.favorite__link {
  display: flex;
  align-items: center;
}
.link__favorite {
  color: #333;
}
.nav__cart {
  display: flex;
  align-items: center;
}
.link__cart {
  color: #333;
  cursor: pointer;
  position: relative;
}
.nav__burger {
  display: none;
}

.open {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(15px);
}

//xl size
@media screen and (max-width: 1280px) {
}

//lg size
@media screen and (max-width: 1024px) {
}

//md size
@media screen and (max-width: 768px) {
}

//sm size
@media screen and (max-width: 640px) {
  .nav__links {
    display: none;
  }
  .nav__burger {
    display: flex;
    align-items: center;
  }
  .link__cart {
    display: flex;
  }
}

//xs+ size
@media screen and (max-width: 520px) {
  .content__logo {
    img {
      width: 2rem;
    }

    h1 {
      font-size: 1.5rem;
      font-weight: 700;
    }
  }
  .content__search {
    display: none;
  }
  .nav__search-icon {
    display: flex;
    align-items: center;
  }
  .Navbar__container {
    padding: 0 0.5rem;
  }
}
//xs size
@media screen and (max-width: 350px) {
  .content__logo {
    img {
      width: 2rem;
    }

    h1 {
      display: none;
    }
  }
}
