.Best {
  width: 100%;
  // margin: 5rem;
  padding: 4rem;
  text-align: center;
}
.Best__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
  margin-top:3rem ;
  
}
//xl size
@media screen and (max-width: 1280px) {
}

//lg size
@media screen and (max-width: 1024px) {
  .Best__grid {
      grid-template-columns: repeat(3, 1fr);
  }
}

//md size
@media screen and (max-width: 768px) {
  .Best__grid {
      grid-template-columns: repeat(2, 1fr);
  }
}


//sm size
@media screen and (max-width: 640px) {
  .Best {
    padding: 1.5rem;
  }
  .Best__grid {
      grid-template-columns: 1fr;
  }
}

//xs size
@media screen and (max-width: 350px) {
}


